@{
    ViewData["Title"] = "Volunteering";
}



<h1>Make a difference as a volunteer.</h1>

<section class="my-5">
    <p>
        Are you able to dedicate 5 hours per week to help out in our thrift store?
    </p>
    <p>
        S.A.R.A.'s Treasures Thrift and Gift Shop is our main fundraiser for our non-profit
        organization that rescues, assists, and advocates for shelter animals in Lane County,
        and we rely on our hard working volunteers to help us put every dollar raised to its
        best use. We are <em>always</em> in need of Volunteer Thrift Store Clerk/Cat Care
        Assistants. No retail or previous volunteer experience is necessary! Give us a call
        at <a href="tel:5416078892">541-607-8892</a> for shift details/requirements or fill
        out an application (below) and return it to S.A.R.A.’s Treasures via mail, email,
        or dropoff.
    </p>

    <p>
        { LINK TO PDF COMING SOON }
    </p>
</section>
