<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/35fe49c1-06fc-42bd-abc2-39969a7ce90a/resourceGroups/cs295-dotnet/providers/Microsoft.Web/sites/SarasTreasures</ResourceId>
    <ResourceGroup>cs295-dotnet</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://sarastreasures.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>sarastreasures.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SarasTreasures</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SarasTreasures</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>