@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4 text-center">Gift, Thrift, & Cat Adoption Center</h1>
<p>
    Shelter Animal Resource Alliance (S.A.R.A.) is a nonprofit organization located in Eugene, OR, dedicated to removing
    animals from shelters where they might otherwise face euthanasia. While in our care, we provide these cats and dogs
    with a safe and comfortable environment to live in, all necessary medical care, high-quality food and treats, and
    plenty of love and attention until we are able to find them their forever homes.
</p>
<p>
    Our main fundraiser for this life-saving work is our thrift store, S.A.R.A.'s Treasures, where we sell new and gently-used donated items, with all of the proceeds benefiting the rescued cats and dogs in our programs. You’ll find collectibles, jewelry, knick knacks, clothing, books, and so much more….but the real “treasures” are the cats and kittens you’ll find living in the store. It’s the perfect place for prospective adopters to meet and spend time with kitties who are ready for their forever homes.
</p>
<p>
    S.A.R.A. also has a great variety of high quality Pet Food & Supplies available for purchase! Special orders are available if there is a product, size, or flavor we do not regularly stock. If our distributors carry it, we are happy to order it for you.
</p>
<p>
    <a asp-controller="Home" asp-action="About">Learn more</a><br />
    <a asp-controller="Home" asp-action="Contact">Send a message</a>
</p>