@model QuizVM
@{
    ViewData["Title"] = "Animal Adoption Quiz";
}


<div class="mb-5">
    <h1>Animal Adoption Quiz</h1>
    <p>Answer the questions below to test your knowledge about animals and pet adoption!</p>

    <form method="post" class="col-xl-8 my-5">
        <div class="form-group mb-5">
            <h4 class="mb-3">What color cat is least likely to be adopted?</h4>
            <label class="control-label sr-only">Enter answer for question one</label>
            <input type="text" asp-for="UserInput1" class="form-control form-control-lg mb-2" placeholder="Answer" required>
            <h6>@Model?.Result1</h6>
        </div>
        <div class="form-group mb-5">
            <h4 class="mb-3">What percentage of pets are adopted each year?</h4>
            <div class="form-check">
                <input class="form-check-input" asp-for="UserInput2" type="radio" value="12%">
                <label class="form-check-label mb-2">12%</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="UserInput2" type="radio" value="25%">
                <label class="form-check-label mb-2">25%</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="UserInput2" type="radio" value="33%">
                <label class="form-check-label mb-2">33%</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" asp-for="UserInput2" type="radio" value="47%">
                <label class="form-check-label mb-2">47%</label>
            </div>
            <h6>@Model?.Result2</h6>
        </div>
        <div class="form-group mb-5">
            <h4 class="mb-3">Approximately 6.5 million commpanion animals enter the shelter each year.</h4>
            <div class="form-check">
                <input value="true" type="radio" asp-for="UserInput3" class="form-check-input">
                <label class="control-label">True</label>
            </div>
            <div class="form-check">
                <input value="false" type="radio" asp-for="UserInput3" class="form-check-input">
                <label class="control-label">False</label>
            </div>
            <h6>@Model?.Result3</h6>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-3">Submit</button>
    </form>
</div>