@model Story

@{
    ViewData["Title"] = "Share Your Happy Tails";
}


<h1>Tell us about your successful adoptions!</h1>
<p>
    Post your Happy Tail story below and <a asp-controller="Rescue" asp-action="HappyTails">learn about other successful adoptions!</a>
</p>

<form method="post" class="col-xl-8 my-5">
    <div class="form-group">
        <label class="control-label sr-only">Title</label>
        <input type="text" asp-for="Title" class="form-control form-control-lg" placeholder="Pet's name">
        <span class="text-danger small" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label class="control-label sr-only">Pet adoption story</label>
        <textarea type="text" asp-for="Text" class="form-control form-control-lg" rows="8" placeholder="Share your pet adoption story..."></textarea>
        <span class="text-danger small" asp-validation-for="Text"></span>
    </div>
    <div class="row justify-content-between">
        <div class="form-group col-md-6">
            <label class="control-label sr-only">Name</label>
            <input type="text" asp-for="User.Username" class="form-control form-control-lg" placeholder="Username">
            <span class="text-danger small" asp-validation-for="User.Username"></span>
        </div>
        
        <div class="form-group col col-lg-auto mb-4">
            <label class="control-label sr-only">Upload Photo</label>
            <input type="file" asp-for="Filename" class="form-control-file">
            <span class="text-danger small" asp-validation-for="Filename"></span>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
</form>
