@{
    ViewData["Title"] = "Animal Resources";
}


<h1>Resources for taking care of your animal.</h1>


<h2>Animal Care</h2>

<h2>Health &amp; Behavior</h2>

<h2>Local Animal Rescue Organizations</h2>
