@{
    ViewData["Title"] = "Rescue Program";
}


<h1>Rescue Program</h1>
<p>Learn about S.A.R.A.'s Rescue Program for cats and dogs!</p>

<p>
    <a asp-controller="Rescue" asp-action="Adopt">Adopt an animal today</a><br />
    <a asp-controller="Rescue" asp-action="HappyTails">Tell us about your experience</a><br />
    <a asp-controller="Rescue" asp-action="Resources">View more resources on animal care</a>
</p>