@{
    ViewData["Title"] = "Donations";
}



<h1>Donations help us care for our most vulnerable animals.</h1>
<p>We have many options to choose from!</p>

<p>
    <a asp-controller="Donate" asp-action="Volunteer">Become a volunteer</a><br />
    <a asp-controller="Donate" asp-action="Shop">Visit our gift store</a>
</p>