@{
    ViewData["Title"] = "About Us";
}



<h1>We rescue, assist, and advocate for shelter animals.</h1>

<section class="my-5">
    <p>
        Founded in January 2001, the Shelter Animal Resource Alliance (S.A.R.A.) is a 501(c)(3)
        non profit organization based in the Eugene/Springfield area of western Oregon that is
        dedicated to removing animals from shelters where they might otherwise face euthanasia.
        While in our care, we provide these cats and dogs with a comfortable environment to
        live in, all necessary medical care, high-quality food and treats, and plenty of love
        and attention until we are able to find them their forever homes.
    </p>
    <p>
        Our main fundraiser for this life-saving work is our thrift store, S.A.R.A.'s Treasures,
        where we sell new and gently-used donated items, with all of the proceeds benefiting the
        rescued cats and dogs in our programs. You’ll find collectibles, jewelry, knick knacks,
        clothing, books, and so much more….but the real “treasures” are the cats and kittens
        you’ll find living in the store. It’s the perfect place for prospective adopters to meet
        and spend time with kitties who are ready for their forever homes.
    </p>
    <p>
        Along with our thrift store items, at S.A.R.A.’s Treasures we also sell a variety of top
        quality retail cat and dog food and supplies including Wildside Salmon treats, Hot Cat
        and GoCat toys, Wyoming Sunmade Litter, and Drinkwell pet fountains.
    </p>
    <p>
        What has S.A.R.A. been up to lately? Check out news about our organization on Facebook and Twitter!
    </p>
</section>
